body {
  font-family: 'Roboto', sans-serif;
}

/* typo */
.bld_700 {
  margin: 0;
  color: white;
  font-size: 58px;
  font-weight: 700;
}
h2 {
  margin: 10px 0;
  color: #031b4e;
  font-weight: bolder;
  font-size: 30px;
  line-height: 36px;
}
h3 {
  font-size: 15px;
  text-transform: uppercase;
  color: #77829d;
}
h4 {
  font-size: 20px;
  color: #031b4e;
  font-weight: bold;
  padding: 10px 0;
}
h5 {
  font-size: 15px;
  font-weight: bold;
  color: #031b4e;
}
.hero_txt {
  color: white;
  font-size: 24px;
  font-weight: lighter;
  line-height: 36px;
  padding-top: 25px;
  padding-right: 80px;
}
.disclamer {
  color: #031b4e;
  margin: 15px 0;
}
.disclamer small a {
  font-size: 12px;
  text-decoration: underline;
}
.p_section {
  font-size: 20px;
  color: #5c6a88;
  line-height: 30px;
  padding-bottom: 70px;
}
.p_card {
  font-size: 18px;
  color: #5c6a88;
  font-weight: normal;
  line-height: 30px;
}
.title_section {
  font-weight: 700;
  font-size: 35px;
  padding-top: 70px;
  padding-bottom: 20px;
}
.white {
  color: white;
}
/* /typo */
/* mix */
* li {
  color: #056aff;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.btn {
  font-size: inherit;
  vertical-align: inherit;
}

.bg_grey {
  background-color: #f3f5f9;
}
.bg_blue {
  background-image: url(../img/bg-bottom.svg);
  background-position: center;
  background-size: cover;
}
.bg_footer {
  background-color: #031b4e;
}
.txt_left {
  text-align: left;
}
.pd_b_card {
  padding-bottom: 30px;
}
/* /mix */
/* bottoni */
.btn__sign {
  border: 1px solid #056aff;
  border-radius: 5px;
  padding: 5px 13px;
}
.menu-mobile {
  display: inline-block;
  color: #056aff ;
  font-size: 18px;
  background-color: transparent;
}
.btn_account {
  background-color: #056aff ;
}
.btn_account:hover {
  background-color: #1633ff;
}
.btn_google {
  text-align: center;
  background-color: transparent;
  box-shadow: 2px 2px #6968682b;
  border: none;
  font-weight: bold;
  color: #626262;
}
.btn_create {
  border: 1px solid #056aff;
  color: #056aff;
  background-color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}
.btn_create:hover {
  color: #056aff;
  background: rgba(225,225,225,0.9) !important;
  transition: all 0.3s ease;
}
/* bottoni */

/* header */
/* header-top */
.header-top {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 70px;
  background-color: white;
  line-height: 70px;
  width: 100%;
}

.main-nav, .secondary-nav {
  line-height: 83px;
}

.main-nav, .secondary-nav {
  font-size: 16px;
}
.logo img {
  height: 35px;
}

.list-inline i {
  margin-left: 5px;
}
.main-nav a, .secondary-nav a {
  color: #031b4e;
}
.btn.btn__sign {
  color: #056aff;
}
.list-inline li {
  padding-left: 10px;
}

/* hero */
.hero {
  padding: 100px 0;
  margin-top: 70px;
  width: 100%;
  background-image: url(../img/bg-hero.svg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.hero_box {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}
.hero_box span {
  color: #056aff;
}
form button img {
  height: 20px;
  padding-right: 2%;
}
/* /hero */
/* /header */

/* corpo */
/* sponsors */
#sponsors {
  padding: 30px 0;
}
.sponsors_list {
  height: auto;
  width: calc((100% / 6) - 4px);
  display: inline;
}
.sponsors_list img {
  margin: 50px 26px;
}
.container > .see {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: normal;
  color: #056aff;
}
/* /sponsors */

/* deploy */
.dply_list a {
  color: #5c6a88;
  text-decoration: none;
  padding: 15px 0px 15px 15px;
  font-size: 20px;
  border-left: 2px solid #cccccc;
}
.dply_list {
  text-align: left;
}
/* /deploy */
/* designed */
#designed {
  padding-bottom: 80px;
}
.slider > i {
  font-size: 35px;
}
.slider img, .slider i {
  display: inline-block;
}

.slider > img {
  padding: 20px 30px;
  height: auto;
  width: 60%;
}
.slider .fa-chevron-right {
  color: #031b4e;
}
.p_card {
  font-size: 16px;
  color: #031b4e;
}
.bullets i {
  color: #056aff;
  font-size: 12px;
}
/* /designed */

/* features */
#features {
  padding-bottom: 80px;
}
/* /features */
/* service */
#service {
  background-image: url(../img/bg-map.svg);
  background-position: center;
  background-size: cover;
  background-color: #031b4e;
  padding-bottom: 80px;
}
.service_list {
  padding-top: 30px;
}
.service_list li {
  width: 100%;
  padding-top: 10px;
  padding-left: 0;
  border-bottom: 1px solid #5c6a88
}
.service_list span {
  text-align: left;
  font-size: 13px;
  width: 14%;
  text-transform: uppercase;
  color: white;
  display: inline-block;
}
.service_list p {
  color: #5c6a88;
  font-weight: 400;
  font-size: 13px;
  text-align: left;
  margin-left: 0px;
  width: 56%;
  display: inline-block;
}
.service_list a {
  display: inline-block;
  text-align: right;
  width: 30%;
  color: #00d7d2;
  font-size: 12px;
}
/* /service */
/* dev */
#dev {
  padding-bottom: 80px;
}
.dev_box {
  margin: 50px 20px 20px 20px;
  padding: 60px 10px;
  display: inline-block;
  max-width: 60%;
  vertical-align: middle;
}
.pd_15 {
  padding-bottom: 15px;
}
.slider i {
  vertical-align: middle;
}
.dev_box img {
  width: 50%;
  padding-bottom: 20px;
}
.dev_box:last-child {
  color: #031b4e;
}
/* /dev */
/* get-started */
#get-started {
  padding-bottom: 80px;
}
/* get-started */
/* footer */
#footer {
  padding-top: 90px;
  padding-bottom: 80px;
}
.logo_footer img {
  padding-bottom: 15px;
}
.copyright {
  color: #7a859d;
  font-size: 16px;
  font-weight: bold;
}
.lighter_gray {
  color: #5a6887;
}
.social {
  color: #808694;
  line-height: 46px;
  font-size: 22px;
}
.social:hover {
  color: white;
}
.footer_list li:first-child {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.footer_list li {
  padding-bottom: 10px;
}
.footer_list li a {
  font-size: 16px;
  color: #808694;
}
.footer_list li a:hover {
  color: white;
}
/* /footer */


/* responsive */
@media screen and (max-width: 1200px) {
  /* form button img {
    padding-right: 30%;
  } */
  .sponsors_list img {
    margin: 50px 7px;
  }

}
@media screen and (max-width: 1024px) {
  /* form button img {
    padding-right: 24%;
  } */
}
@media screen and (max-width: 992px) {
  /* form button img {
    padding-right: 25%;
  } */
  .sponsors_list img {
    margin: 50px 7px;
    width: 25%;
  }

}
@media screen and (max-width: 768px) {
  /* form button img {
    padding-right: 38%;
  } */
  .slider > i {
    display: none;
  }
}
@media screen and (max-width: 492px) {

  /* form button img {
    padding-right: 25%;
  } */
  .main-nav, .secondary-nav {
    width: 100%;
  }
  .bld_700 {
    font-size: 45px;
  }
  .sponsors_list img {
    margin: 50px 7px;
    width: 40%;
  }
  /* .service_list p {
    padding-right: 10px;
  } */
  /* .hero_box img {
    width: 80%;
  } */
}
